<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>MapleMono-SemiBold.ttf</string>
		<string>MapleMono-Bold.ttf</string>
		<string>MapleMono-Light.ttf</string>
		<string>MapleMono-Medim.ttf</string>
		<string>MapleMono-Regular.ttf</string>
	</array>
</dict>
</plist>
